# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Work\Manning\Java Persistence with Hibernate and Spring Data\GitHub\advanced-mappings-onetomany-jointable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
